/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
h1, h2, h3, h4 {
    text-transform: uppercase;
    margin: 0;
    color: #1b1210;
    text-align: center;
}
h1 {
    font-size: 2.5rem;
    font-weight: 600;
}
h1 span {font-weight: 800;}
h2 {
    font-size: 1.5rem;
    font-weight: 600;
}
h3 {
    font-size: 1.2rem;
    font-weight: 400;
}
h4 {
    font-size: 1.2rem;
    font-weight: 300;
}
.aside p {
    width: 70%;
    font-size: 1rem;
}
.portrait {
    width: 80%;
    border-radius: 50%;
}
.container {
    display: flex;
}

/* Aside section */
.aside {
    width: 25vw;
    background-color: #a79086;
}
.person, .contacts, .soft_skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portrait {
    margin-top: 10vh;
    margin-bottom: 4vh;
}
.person h4 {margin-bottom: 4vh;}
.person h2 {padding-bottom: 2vh;}
.contacts, .soft_skills, .person {padding: 3vh 0;}
.skill_block{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.skill {
    padding: 0;
    display: flex;
    list-style-type: none;
}
.skill li {
    display: inline;
    font-size: 0.9rem;
}
.havnt_skill {color: #673e37;}
.contacts {
    border-top: #1b1210 2px solid;
    border-bottom: #1b1210 2px solid;
    margin: 0 3vw;
}
.contact {
    color: #d2d2c9;
    margin: 5px 0 15px 0;
    text-align: center;
    font-weight: 800;
}
.links {
    border-top: #1b1210 2px solid;
    margin: 0 2vw;
    padding: 3vh 0;
    text-align: center;   
}
.icon {
    width: 25px;
    margin-right: 20px;
}

/* Main section */

.main_info {
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #d2d2c9;
}
.heading {
    background-color: #a79086;
    height: 50px;  
}
.main_info h2 {
    color: whitesmoke;
    text-align: center;
    padding-top: 10px;
}
.work_skill p {font-size: 0.8rem;}
progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
::-webkit-progress-value {
    background-color: #6d031c;
}
::-webkit-progress-bar {
    background-color: #a79086;
}
.education, .work_skills, .expirience, .projects {margin: 0 4vw 6vh 4vw;}
.settings {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 25vh;
    align-self: center;
    position:relative;
}
.settings::after {
    content:'';
    position:absolute;
    width:80%;
    height:0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 120px solid #a79086;
}
.page_nav {
    z-index: 1;
    padding-top: 3vh;
}
.nav {
    text-decoration: none;
    font-size: 0.9rem;
    color: whitesmoke;
    font-weight: 600;
    margin: 0 10px;
}
.details {
    text-align: center;
    margin-top: 6vh;
}
.date {
    color: #6d031c;
    font-size: 00.9rem;
}
.details h4 {font-weight: 600;}
.skills_container {
    margin-top: 2vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.work_skill {
    margin-right: 20px;
    display: flex;
    width: 40%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.projects_cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3.5vh;
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 40%;
    margin: 2.5vw;
}
.card_content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding-top: 1rem;
}
.card_image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.25rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: calc(75vw*0.35);
    filter: sepia(100%);
}
.card_title {
    font-weight: 800;
    font-size: 1.2rem;
    margin-left: 0.5rem;
}
.card_text {margin: 0.5rem;}
.card_link {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 800;
    margin-left: 0.5rem;
}
.card_tracker {
    background-image: url(../images/projects_view/time-track.png);
}
.card_calc {
    background-image: url(../images/projects_view/calc.png);
}
.card_sunny {
    background-image: url(../images/projects_view/sunnyside.png);
}
.card_blogr {
    background-image: url(../images/projects_view/blogr.png);
}
.card_games {
    background-image: url(../images/projects_view/games.png);
}
.card_blackwhite {
    background-image: url(../images/projects_view/blacknwhite.png);
}

/* Efects */
.nav:hover {
    font-size: 1rem;
    color: #1b1210;
    transition: color 1s;
    transition: font-size 1s;
}
.card_image:hover {
    filter: none;
    transition: filter 2s;
}


/* mobile */
@media screen and (max-width:968px) {
    .settings {
        width: 70%;
    }
    h1 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1rem;
    }
    .aside h2 {
        font-size: 1.2rem;
    }
    .skill_block {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .skill_block p {
        margin-bottom: 0%;
    }
    .skill {
        margin-top: 2px;
        margin-bottom: 0;
    }
    .skills_container {
        flex-flow: column;
    }
    .skills_container:nth-child(2n) {
        align-self: flex-end;
    }
}