body {
    font-family: 'Jost', sans-serif;
}

.logo {
    position: absolute;
    width: 106.16px;
    height: 24px;
    margin-bottom: 80px;
}
.paw {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0%;
    right: 77.39%;
    top: 0%;
    bottom: 0%;
}
.el1, .el2, .el3, .el4 {
    background: #FF868E;
    position: absolute;
    border-radius: 50%;
    width: 5.77px;
    height: 5.77px;
}
.el1 {
    left: 0%;
    right: 94.56%;
    top: 57.71%;
    bottom: 18.24%;
}
.el2 {
    left: 0%;
    right: 94.56%;
    top: 24.05%;
    bottom: 51.91%;
}
.el3 {
    left: 5.44%;
    right: 89.13%;
    top: 0%;
    bottom: 75.95%;
}
.el4 {
    left: 13.05%;
    right: 81.52%;
    top: 0%;
    bottom: 75.95%;
}
.rect1 {
    background: #FF868E;
    width: 16.16px;
    height: 9.23px;
    border-radius: 10px;
    position: absolute;
    left: 4.7%;
    right: 77.39%;
    top: 48%;
    bottom: -38.47%;
    transform: rotate(-90deg);
}
.rect2 {
    background: #FF868E;
    width: 16.16px;
    height: 9.23px;
    border-radius: 10px;
    position: absolute;
    left: 7.39%;
    right: 77.39%;
    top: 33.2%;
    bottom: 28.86%;
}
.logo_text {
    position: absolute;
    left: 30.04%;
    right: 2.26%;
    top: 26.81%;
    bottom: 20.87%;
    color: black;
    font-weight: 700;
    font-style: bold;
    width: 71.87px;
    height: 12.56px;
}

.hello_area {
    width: 446px;
    height: 450px;
}
.votingpic {
    width: 138px;
    height: 198px;
    
    background: #B4B7FF;
    border: 4px solid rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    border-radius: 20px;
}
.dogpic {
    width: 138px;
    height: 198px;
    
    background: #97EAB9;
    border: 4px solid #FBE0DC;
    box-sizing: border-box;
    border-radius: 20px;
}
.gallerypic {
    width: 138px;
    height: 198px;

    background: #FFD280;
    border: 4px solid rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    border-radius: 20px;
}
.votingimg {
    width: 100px;
    height: 124.47px;
    margin: 38px 19px 35px 19px;
}
.dogimg {
    width: 117px;
    height: 163px;
    margin: 17px 11px 18px 10px;
}
.galleryimg {
    width: 112px;
    height: 190px;
    margin: 4px 13px 4px 13px;
}